.root {
    -fx-background-color: #FFFFFF;
}

#top {
    -fx-background-color: #4CAF50;
}

#tab {
    -fx-background-color: #388E3C;
}

#title {
    -fx-font-size: 80;
    -fx-font-family: "Lucida Calligraphy";
    -fx-fill: #FFFFFF;
}


#treeBtn {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 30;
    -fx-background-color: none;
    -fx-font-weight: bold;
    -fx-border-style: none;
}

#homeBtn {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 30;
    -fx-background-color: none;
    -fx-font-weight: bold;
    -fx-border-style: none;
}

#treeBtn:hover {
    -fx-opacity: 0.8;
}

#homeBtn:hover {
    -fx-opacity: 0.8;
}

#locationtab {
    -fx-fill: #C8E6C9;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
