.root {
    -fx-background-color: white;
}

#top {
    -fx-background-color: #1db954;
}

#title {
    -fx-font-size: 80;
    -fx-font-family: "Lucida Calligraphy";
}

#logout {
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-background-color: none;
    -fx-effect: dropshadow(gaussian, black, 5,0.2,0,0);
    -fx-font-weight: bold;
}

#names {
    -fx-font-size: 60;
}

#level {
    -fx-font-size: 40;
}

.button {
    -fx-text-fill: white;
    -fx-font-size: 22;
    -fx-background-color: #1db954;
    -fx-effect: dropshadow(gaussian, black, 5,0.2,0,0);
    -fx-font-weight: bold;
    -fx-border-radius: 50px;
    -fx-background-radius: 25px;
}

.progress-bar > .track{
    -fx-background-color: black;
}

.progress-bar > .bar{
    -fx-background-color: #1db954;
}

