.root {
    -fx-background-color: #FFFFFF;
}

#top {
    -fx-background-color: #4CAF50;
}

#tab {
    -fx-background-color: #388E3C;
}

#title {
    -fx-font-size: 80;
    -fx-font-family: "Lucida Calligraphy";
    -fx-fill: #FFFFFF;
}

#locationtab {
    -fx-fill: #C8E6C9;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#logout {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 30;
    -fx-background-color: none;
    -fx-font-weight: bold;
    -fx-border-style: none;
}

#logout:hover {
    -fx-opacity: 0.8;
}

#homeBtn {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 30;
    -fx-background-color: none;
    -fx-font-weight: bold;
    -fx-border-style: none;
}

.header {
    -fx-fill: #212121;
    -fx-font-size: 50;
    -fx-font-weight: bold;
}

.description {
    -fx-fill: #757575;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.amount {
    -fx-fill: #757575;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 50 0 50 0;
    -fx-background-radius: 50 0 50 0;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

.button:hover {
    -fx-background-color: #46a049;
}

.progress-bar > .track{
    -fx-background-color: black;
}

.progress-bar > .bar{
    -fx-background-color: #03A9F4;
}

#profilePic {
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

